/*
VARIABLES
*/
/*
DEFINE THE DEFAULT ROW & COLUMN
*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden; }

.grid {
  padding: 0 0.5rem;
  margin: -0.5rem; }

.row {
  display: block;
  position: relative;
  clear: both;
  margin: 0 -0.5rem; }
  .row .cell {
    box-sizing: border-box;
    position: relative;
    padding: 0 0.5rem;
    margin: 0;
    float: left; }

/*
MIXINS
*/
/*
FUNCTIONS
*/
/*
DEFINE THE COLUMNS
*/
.cell--1 {
  width: 4.7619%; }

.cell--1-1 {
  width: 4.7619%; }

.cell--1-2 {
  width: 14.28571%; }

.cell--1-3 {
  width: 28.57143%; }

.cell--1-4 {
  width: 47.61905%; }

.cell--1-5 {
  width: 71.42857%; }

.cell--1-6 {
  width: 100%; }

.cell--2 {
  width: 9.52381%; }

.cell--2-2 {
  width: 9.52381%; }

.cell--2-3 {
  width: 23.80952%; }

.cell--2-4 {
  width: 42.85714%; }

.cell--2-5 {
  width: 66.66667%; }

.cell--2-6 {
  width: 95.2381%; }

.cell--3 {
  width: 14.28571%; }

.cell--3-3 {
  width: 14.28571%; }

.cell--3-4 {
  width: 33.33333%; }

.cell--3-5 {
  width: 57.14286%; }

.cell--3-6 {
  width: 85.71429%; }

.cell--4 {
  width: 19.04762%; }

.cell--4-4 {
  width: 19.04762%; }

.cell--4-5 {
  width: 42.85714%; }

.cell--4-6 {
  width: 71.42857%; }

.cell--5 {
  width: 23.80952%; }

.cell--5-5 {
  width: 23.80952%; }

.cell--5-6 {
  width: 52.38095%; }

.cell--6 {
  width: 28.57143%; }

@media (min-width: 32rem) {
  .cell--xs-1 {
    width: 4.7619%; } }

@media (min-width: 32rem) {
  .cell--xs-1-2 {
    width: 14.28571%; } }

@media (min-width: 32rem) {
  .cell--xs-1-3 {
    width: 28.57143%; } }

@media (min-width: 32rem) {
  .cell--xs-1-4 {
    width: 47.61905%; } }

@media (min-width: 32rem) {
  .cell--xs-1-5 {
    width: 71.42857%; } }

@media (min-width: 32rem) {
  .cell--xs-1-6 {
    width: 100%; } }

@media (min-width: 32rem) {
  .cell--xs-2 {
    width: 9.52381%; } }

@media (min-width: 32rem) {
  .cell--xs-2-3 {
    width: 23.80952%; } }

@media (min-width: 32rem) {
  .cell--xs-2-4 {
    width: 42.85714%; } }

@media (min-width: 32rem) {
  .cell--xs-2-5 {
    width: 66.66667%; } }

@media (min-width: 32rem) {
  .cell--xs-2-6 {
    width: 95.2381%; } }

@media (min-width: 32rem) {
  .cell--xs-3 {
    width: 14.28571%; } }

@media (min-width: 32rem) {
  .cell--xs-3-4 {
    width: 33.33333%; } }

@media (min-width: 32rem) {
  .cell--xs-3-5 {
    width: 57.14286%; } }

@media (min-width: 32rem) {
  .cell--xs-3-6 {
    width: 85.71429%; } }

@media (min-width: 32rem) {
  .cell--xs-4 {
    width: 19.04762%; } }

@media (min-width: 32rem) {
  .cell--xs-4-5 {
    width: 42.85714%; } }

@media (min-width: 32rem) {
  .cell--xs-4-6 {
    width: 71.42857%; } }

@media (min-width: 32rem) {
  .cell--xs-5 {
    width: 23.80952%; } }

@media (min-width: 32rem) {
  .cell--xs-5-6 {
    width: 52.38095%; } }

@media (min-width: 32rem) {
  .cell--xs-6 {
    width: 28.57143%; } }

@media (min-width: 48rem) {
  .cell--s-1 {
    width: 4.7619%; } }

@media (min-width: 48rem) {
  .cell--s-1-2 {
    width: 14.28571%; } }

@media (min-width: 48rem) {
  .cell--s-1-3 {
    width: 28.57143%; } }

@media (min-width: 48rem) {
  .cell--s-1-4 {
    width: 47.61905%; } }

@media (min-width: 48rem) {
  .cell--s-1-5 {
    width: 71.42857%; } }

@media (min-width: 48rem) {
  .cell--s-1-6 {
    width: 100%; } }

@media (min-width: 48rem) {
  .cell--s-2 {
    width: 9.52381%; } }

@media (min-width: 48rem) {
  .cell--s-2-3 {
    width: 23.80952%; } }

@media (min-width: 48rem) {
  .cell--s-2-4 {
    width: 42.85714%; } }

@media (min-width: 48rem) {
  .cell--s-2-5 {
    width: 66.66667%; } }

@media (min-width: 48rem) {
  .cell--s-2-6 {
    width: 95.2381%; } }

@media (min-width: 48rem) {
  .cell--s-3 {
    width: 14.28571%; } }

@media (min-width: 48rem) {
  .cell--s-3-4 {
    width: 33.33333%; } }

@media (min-width: 48rem) {
  .cell--s-3-5 {
    width: 57.14286%; } }

@media (min-width: 48rem) {
  .cell--s-3-6 {
    width: 85.71429%; } }

@media (min-width: 48rem) {
  .cell--s-4 {
    width: 19.04762%; } }

@media (min-width: 48rem) {
  .cell--s-4-5 {
    width: 42.85714%; } }

@media (min-width: 48rem) {
  .cell--s-4-6 {
    width: 71.42857%; } }

@media (min-width: 48rem) {
  .cell--s-5 {
    width: 23.80952%; } }

@media (min-width: 48rem) {
  .cell--s-5-6 {
    width: 52.38095%; } }

@media (min-width: 48rem) {
  .cell--s-6 {
    width: 28.57143%; } }

@media (min-width: 72rem) {
  .cell--m-1 {
    width: 4.7619%; } }

@media (min-width: 72rem) {
  .cell--m-1-2 {
    width: 14.28571%; } }

@media (min-width: 72rem) {
  .cell--m-1-3 {
    width: 28.57143%; } }

@media (min-width: 72rem) {
  .cell--m-1-4 {
    width: 47.61905%; } }

@media (min-width: 72rem) {
  .cell--m-1-5 {
    width: 71.42857%; } }

@media (min-width: 72rem) {
  .cell--m-1-6 {
    width: 100%; } }

@media (min-width: 72rem) {
  .cell--m-2 {
    width: 9.52381%; } }

@media (min-width: 72rem) {
  .cell--m-2-3 {
    width: 23.80952%; } }

@media (min-width: 72rem) {
  .cell--m-2-4 {
    width: 42.85714%; } }

@media (min-width: 72rem) {
  .cell--m-2-5 {
    width: 66.66667%; } }

@media (min-width: 72rem) {
  .cell--m-2-6 {
    width: 95.2381%; } }

@media (min-width: 72rem) {
  .cell--m-3 {
    width: 14.28571%; } }

@media (min-width: 72rem) {
  .cell--m-3-4 {
    width: 33.33333%; } }

@media (min-width: 72rem) {
  .cell--m-3-5 {
    width: 57.14286%; } }

@media (min-width: 72rem) {
  .cell--m-3-6 {
    width: 85.71429%; } }

@media (min-width: 72rem) {
  .cell--m-4 {
    width: 19.04762%; } }

@media (min-width: 72rem) {
  .cell--m-4-5 {
    width: 42.85714%; } }

@media (min-width: 72rem) {
  .cell--m-4-6 {
    width: 71.42857%; } }

@media (min-width: 72rem) {
  .cell--m-5 {
    width: 23.80952%; } }

@media (min-width: 72rem) {
  .cell--m-5-6 {
    width: 52.38095%; } }

@media (min-width: 72rem) {
  .cell--m-6 {
    width: 28.57143%; } }

@media (min-width: 96rem) {
  .cell--l-1 {
    width: 4.7619%; } }

@media (min-width: 96rem) {
  .cell--l-1-2 {
    width: 14.28571%; } }

@media (min-width: 96rem) {
  .cell--l-1-3 {
    width: 28.57143%; } }

@media (min-width: 96rem) {
  .cell--l-1-4 {
    width: 47.61905%; } }

@media (min-width: 96rem) {
  .cell--l-1-5 {
    width: 71.42857%; } }

@media (min-width: 96rem) {
  .cell--l-1-6 {
    width: 100%; } }

@media (min-width: 96rem) {
  .cell--l-2 {
    width: 9.52381%; } }

@media (min-width: 96rem) {
  .cell--l-2-3 {
    width: 23.80952%; } }

@media (min-width: 96rem) {
  .cell--l-2-4 {
    width: 42.85714%; } }

@media (min-width: 96rem) {
  .cell--l-2-5 {
    width: 66.66667%; } }

@media (min-width: 96rem) {
  .cell--l-2-6 {
    width: 95.2381%; } }

@media (min-width: 96rem) {
  .cell--l-3 {
    width: 14.28571%; } }

@media (min-width: 96rem) {
  .cell--l-3-4 {
    width: 33.33333%; } }

@media (min-width: 96rem) {
  .cell--l-3-5 {
    width: 57.14286%; } }

@media (min-width: 96rem) {
  .cell--l-3-6 {
    width: 85.71429%; } }

@media (min-width: 96rem) {
  .cell--l-4 {
    width: 19.04762%; } }

@media (min-width: 96rem) {
  .cell--l-4-5 {
    width: 42.85714%; } }

@media (min-width: 96rem) {
  .cell--l-4-6 {
    width: 71.42857%; } }

@media (min-width: 96rem) {
  .cell--l-5 {
    width: 23.80952%; } }

@media (min-width: 96rem) {
  .cell--l-5-6 {
    width: 52.38095%; } }

@media (min-width: 96rem) {
  .cell--l-6 {
    width: 28.57143%; } }

@media (min-width: 102rem) {
  .cell--xl-1 {
    width: 4.7619%; } }

@media (min-width: 102rem) {
  .cell--xl-1-2 {
    width: 14.28571%; } }

@media (min-width: 102rem) {
  .cell--xl-1-3 {
    width: 28.57143%; } }

@media (min-width: 102rem) {
  .cell--xl-1-4 {
    width: 47.61905%; } }

@media (min-width: 102rem) {
  .cell--xl-1-5 {
    width: 71.42857%; } }

@media (min-width: 102rem) {
  .cell--xl-1-6 {
    width: 100%; } }

@media (min-width: 102rem) {
  .cell--xl-2 {
    width: 9.52381%; } }

@media (min-width: 102rem) {
  .cell--xl-2-3 {
    width: 23.80952%; } }

@media (min-width: 102rem) {
  .cell--xl-2-4 {
    width: 42.85714%; } }

@media (min-width: 102rem) {
  .cell--xl-2-5 {
    width: 66.66667%; } }

@media (min-width: 102rem) {
  .cell--xl-2-6 {
    width: 95.2381%; } }

@media (min-width: 102rem) {
  .cell--xl-3 {
    width: 14.28571%; } }

@media (min-width: 102rem) {
  .cell--xl-3-4 {
    width: 33.33333%; } }

@media (min-width: 102rem) {
  .cell--xl-3-5 {
    width: 57.14286%; } }

@media (min-width: 102rem) {
  .cell--xl-3-6 {
    width: 85.71429%; } }

@media (min-width: 102rem) {
  .cell--xl-4 {
    width: 19.04762%; } }

@media (min-width: 102rem) {
  .cell--xl-4-5 {
    width: 42.85714%; } }

@media (min-width: 102rem) {
  .cell--xl-4-6 {
    width: 71.42857%; } }

@media (min-width: 102rem) {
  .cell--xl-5 {
    width: 23.80952%; } }

@media (min-width: 102rem) {
  .cell--xl-5-6 {
    width: 52.38095%; } }

@media (min-width: 102rem) {
  .cell--xl-6 {
    width: 28.57143%; } }
