/*
VARIABLES
*/
/*
DEFINE THE DEFAULT ROW & COLUMN
*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden; }

.grid {
  padding: 0 0.5rem;
  margin: -0.5rem; }

.row {
  display: block;
  position: relative;
  clear: both;
  margin: 0 -0.5rem; }
  .row .cell {
    box-sizing: border-box;
    position: relative;
    padding: 0 0.5rem;
    margin: 0;
    float: left; }

/*
MIXINS
*/
/*
FUNCTIONS
*/
/*
DEFINE THE COLUMNS
*/
.cell--1 {
  width: 2.15443%; }

.cell--2 {
  width: 2.48715%; }

.cell--3 {
  width: 5.35841%; }

.cell--4 {
  width: 11.54435%; }

.cell--5 {
  width: 24.87154%; }

.cell--6 {
  width: 53.58411%; }
