/* ------- FUNCTIONS ------- */
/* ------- MIXINS ------- */
/* ------- VARIABLES ------- */
/*
DEFINE THE DEFAULT ROW & COLUMN
*/
.grid {
  padding: 0 13px;
  margin: 0 13px; }

.row {
  display: block;
  position: relative;
  clear: both;
  margin: 0 -13px; }
  .row .cell {
    padding: 0;
    margin: 0 13px;
    float: left;
    min-height: .1px; }

/* ------- CALCULATIONS ------- */
/* ------- GENERATE CSS ------- */
.cell--1 {
  width: calc(7.54165% - 26px); }

.cell--1-2 {
  width: calc(16.65914% - 26px); }

.cell--1-3 {
  width: calc(28.32945% - 26px); }

.cell--1-4 {
  width: calc(44.13537% - 26px); }

.cell--1-5 {
  width: calc(66.64095% - 26px); }

.cell--1-6 {
  width: calc(100% - 26px); }

.cell--2 {
  width: calc(9.11748% - 26px); }

.cell--2-3 {
  width: calc(20.7878% - 26px); }

.cell--2-4 {
  width: calc(36.59372% - 26px); }

.cell--2-5 {
  width: calc(59.0993% - 26px); }

.cell--2-6 {
  width: calc(92.45835% - 26px); }

.cell--3 {
  width: calc(11.67032% - 26px); }

.cell--3-4 {
  width: calc(27.47623% - 26px); }

.cell--3-5 {
  width: calc(49.98182% - 26px); }

.cell--3-6 {
  width: calc(83.34086% - 26px); }

.cell--4 {
  width: calc(15.80592% - 26px); }

.cell--4-5 {
  width: calc(38.3115% - 26px); }

.cell--4-6 {
  width: calc(71.67055% - 26px); }

.cell--5 {
  width: calc(22.50558% - 26px); }

.cell--5-6 {
  width: calc(55.86463% - 26px); }

.cell--6 {
  width: calc(33.35905% - 26px); }

@media (min-width: 32rem) {
  .cell--xs-1 {
    width: calc(7.54165% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-1-2 {
    width: calc(16.65914% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-1-3 {
    width: calc(28.32945% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-1-4 {
    width: calc(44.13537% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-1-5 {
    width: calc(66.64095% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-1-6 {
    width: calc(100% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-2 {
    width: calc(9.11748% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-2-3 {
    width: calc(20.7878% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-2-4 {
    width: calc(36.59372% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-2-5 {
    width: calc(59.0993% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-2-6 {
    width: calc(92.45835% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-3 {
    width: calc(11.67032% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-3-4 {
    width: calc(27.47623% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-3-5 {
    width: calc(49.98182% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-3-6 {
    width: calc(83.34086% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-4 {
    width: calc(15.80592% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-4-5 {
    width: calc(38.3115% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-4-6 {
    width: calc(71.67055% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-5 {
    width: calc(22.50558% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-5-6 {
    width: calc(55.86463% - 26px); } }

@media (min-width: 32rem) {
  .cell--xs-6 {
    width: calc(33.35905% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1 {
    width: calc(7.54165% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1-2 {
    width: calc(16.65914% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1-3 {
    width: calc(28.32945% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1-4 {
    width: calc(44.13537% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1-5 {
    width: calc(66.64095% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-1-6 {
    width: calc(100% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-2 {
    width: calc(9.11748% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-2-3 {
    width: calc(20.7878% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-2-4 {
    width: calc(36.59372% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-2-5 {
    width: calc(59.0993% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-2-6 {
    width: calc(92.45835% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-3 {
    width: calc(11.67032% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-3-4 {
    width: calc(27.47623% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-3-5 {
    width: calc(49.98182% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-3-6 {
    width: calc(83.34086% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-4 {
    width: calc(15.80592% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-4-5 {
    width: calc(38.3115% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-4-6 {
    width: calc(71.67055% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-5 {
    width: calc(22.50558% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-5-6 {
    width: calc(55.86463% - 26px); } }

@media (min-width: 48rem) {
  .cell--s-6 {
    width: calc(33.35905% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1 {
    width: calc(7.54165% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1-2 {
    width: calc(16.65914% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1-3 {
    width: calc(28.32945% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1-4 {
    width: calc(44.13537% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1-5 {
    width: calc(66.64095% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-1-6 {
    width: calc(100% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-2 {
    width: calc(9.11748% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-2-3 {
    width: calc(20.7878% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-2-4 {
    width: calc(36.59372% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-2-5 {
    width: calc(59.0993% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-2-6 {
    width: calc(92.45835% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-3 {
    width: calc(11.67032% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-3-4 {
    width: calc(27.47623% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-3-5 {
    width: calc(49.98182% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-3-6 {
    width: calc(83.34086% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-4 {
    width: calc(15.80592% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-4-5 {
    width: calc(38.3115% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-4-6 {
    width: calc(71.67055% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-5 {
    width: calc(22.50558% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-5-6 {
    width: calc(55.86463% - 26px); } }

@media (min-width: 72rem) {
  .cell--m-6 {
    width: calc(33.35905% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1 {
    width: calc(7.54165% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1-2 {
    width: calc(16.65914% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1-3 {
    width: calc(28.32945% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1-4 {
    width: calc(44.13537% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1-5 {
    width: calc(66.64095% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-1-6 {
    width: calc(100% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-2 {
    width: calc(9.11748% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-2-3 {
    width: calc(20.7878% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-2-4 {
    width: calc(36.59372% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-2-5 {
    width: calc(59.0993% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-2-6 {
    width: calc(92.45835% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-3 {
    width: calc(11.67032% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-3-4 {
    width: calc(27.47623% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-3-5 {
    width: calc(49.98182% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-3-6 {
    width: calc(83.34086% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-4 {
    width: calc(15.80592% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-4-5 {
    width: calc(38.3115% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-4-6 {
    width: calc(71.67055% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-5 {
    width: calc(22.50558% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-5-6 {
    width: calc(55.86463% - 26px); } }

@media (min-width: 96rem) {
  .cell--l-6 {
    width: calc(33.35905% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1 {
    width: calc(7.54165% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1-2 {
    width: calc(16.65914% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1-3 {
    width: calc(28.32945% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1-4 {
    width: calc(44.13537% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1-5 {
    width: calc(66.64095% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-1-6 {
    width: calc(100% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-2 {
    width: calc(9.11748% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-2-3 {
    width: calc(20.7878% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-2-4 {
    width: calc(36.59372% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-2-5 {
    width: calc(59.0993% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-2-6 {
    width: calc(92.45835% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-3 {
    width: calc(11.67032% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-3-4 {
    width: calc(27.47623% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-3-5 {
    width: calc(49.98182% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-3-6 {
    width: calc(83.34086% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-4 {
    width: calc(15.80592% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-4-5 {
    width: calc(38.3115% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-4-6 {
    width: calc(71.67055% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-5 {
    width: calc(22.50558% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-5-6 {
    width: calc(55.86463% - 26px); } }

@media (min-width: 102rem) {
  .cell--xl-6 {
    width: calc(33.35905% - 26px); } }
