/*
SET VARIABLES
*/
/*
DEFINE FUNCTIONS
*/
/*
DEFINE THE DEFAULT ROW & COL
*/

.row {
  position: relative;
  clear: both; }

.cell {
  background: lightslategray;
  outline: 1px solid white;
  float: left;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: white; }

/*
DEFINE THE COLUMNS
*/
.cell-1 {
  width: 2.5%; }

.cell-1-1 {
  background: lightgray;
  width: 2.5%; }

.cell-1-2 {
  background: lightgray;
  width: 10.66667%; }

.cell-1-3 {
  background: lightgray;
  width: 24.5%; }

.cell-1-4 {
  background: lightgray;
  width: 44%; }

.cell-1-5 {
  background: lightgray;
  width: 69.16667%; }

.cell-1-6 {
  background: lightgray;
  width: 100%; }

.cell-2 {
  width: 8.16667%; }

.cell-2-2 {
  background: lightgray;
  width: 8.16667%; }

.cell-2-3 {
  background: lightgray;
  width: 22%; }

.cell-2-4 {
  background: lightgray;
  width: 41.5%; }

.cell-2-5 {
  background: lightgray;
  width: 66.66667%; }

.cell-2-6 {
  background: lightgray;
  width: 97.5%; }

.cell-3 {
  width: 13.83333%; }

.cell-3-3 {
  background: lightgray;
  width: 13.83333%; }

.cell-3-4 {
  background: lightgray;
  width: 33.33333%; }

.cell-3-5 {
  background: lightgray;
  width: 58.5%; }

.cell-3-6 {
  background: lightgray;
  width: 89.33333%; }

.cell-4 {
  width: 19.5%; }

.cell-4-4 {
  background: lightgray;
  width: 19.5%; }

.cell-4-5 {
  background: lightgray;
  width: 44.66667%; }

.cell-4-6 {
  background: lightgray;
  width: 75.5%; }

.cell-5 {
  width: 25.16667%; }

.cell-5-5 {
  background: lightgray;
  width: 25.16667%; }

.cell-5-6 {
  background: lightgray;
  width: 56%; }

.cell-6 {
  width: 30.83333%; }
