/* ------- FUNCTIONS ------- */
::selection {
  color: #fefefe;
  background-color: #182fb5; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.62rem;
  color: #313131; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #182fb5;
  font-family: 'Roboto Condensed', sans-serif; }

h1, .h1 {
  font-size: 4.25153rem;
  line-height: 4.25153rem;
  font-weight: 900; }

h2, .h2 {
  font-size: 2.6244rem;
  line-height: 2.6244rem;
  font-weight: 700; }

h3, .h3 {
  font-size: 1.62rem;
  line-height: 1.62rem;
  font-weight: 500; }

p {
  text-align: justify;
  text-justify: inter-word;
  hanging-punctuation: first; }

a {
  color: #182fb5;
  text-decoration: none;
  border-bottom: 2px solid #182fb5;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }
  a:hover {
    border: none; }

ul {
  padding-left: 1rem; }

.container {
  margin: 0 auto;
  overflow-x: hidden; }

.divider {
  background-color: #182fb5;
  margin-top: 2.6244rem;
  height: .62rem; }

.formula {
  font-size: 1.62rem;
  line-height: 1.62rem;
  color: #182fb5;
  font-weight: 500; }
