/*
SET VARIABLES
*/

//set the minimal column widht and the amount of columns there need to be
$column-amount: 6;

//set the total width
$total-width: 100%;

//calculate the number of extra columns needed to fill out the total width
$extra-columns: $column-amount * (($column-amount + 1)/2);
$extra-column-width: $total-width / $extra-columns;

/*
DEFINE FUNCTIONS
*/
@function calculate-width($counter: $counter) {
    @return ($counter) * $extra-column-width;
}

/*
DEFINE THE DEFAULT ROW & COL
*/
.row {
    display: block;
    position: relative;
    clear:both;
    margin: 0 -0.5rem;
}

.cell {
    box-sizing: border-box;
    position: relative;
    padding: 0 .5rem;
    margin: 0;
    float: left;
    font-family: sans-serif;
    font-size: 1.25rem;
}

/*
DEFINE THE COLUMNS
*/

$class-prefix: cell;

@for $i from 1 through $column-amount {
    //calculate the width
    $this-column-width: calculate-width($i);

    .#{$class-prefix}-#{$i} {
        width: $this-column-width;
    }

    $k: $i + 1;
    @if $i < $column-amount {
        //reset the span width
        $span-width: 0;
        
        @for $j from ($k - 1) through $column-amount {
            //calculate the spanned width
            $span-width: $span-width + calculate-width($j);;

            .#{$class-prefix}-#{$i}-#{$j} {
                width: $span-width;
            }
        }        
    }
}

