@import "variables";
@import "functions";

::selection {
    color: $background;
    background-color: $foreground;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: power-of($factor, 1) * 1rem;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    color: $foreground;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, .h1 {
    font-size: power-of($factor, 3) * 1rem;
    line-height: power-of($factor, 3) * 1rem;
    font-weight: 900;
}

h2, .h2 {
    font-size: power-of($factor, 2) * 1rem;
    line-height: power-of($factor, 2) * 1rem;
    font-weight: 700;
}

h3, .h3 {
    font-size: power-of($factor, 1) * 1rem;
    line-height: power-of($factor, 1) * 1rem;
    font-weight: 500;
}

p {
    text-align: justify;
    text-justify: inter-word;
    hanging-punctuation: first;

}

a {
    color: $foreground;
    text-decoration: none;
    border-bottom: 2px solid $foreground;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    &:hover {
        border: none;
    }
}

ul {
    padding-left: 1rem;
    
}

.container {
    margin: 0 auto;
    overflow-x: hidden;
}

.divider {
    background-color: $foreground;
    margin-top: power-of($factor, 2) * 1rem;
    height: .62rem;
}

.formula {
    font-size: power-of($factor, 1) * 1rem;
    line-height: power-of($factor, 1) * 1rem;
    color: $foreground;
    font-weight: 500;
}