$factor: 1.62;

// user variables grid system
$columns: 6;
$multiplier: $factor;
$gutter-width: 26px;
$minimum-column-width: 3.5;
$bleed: false;

//colors
$background: #fefefe;
$foreground: #182fb5;
$body-color: #313131;